<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"shopgrove/banner"} /-->
<!-- wp:pattern {"slug":"shopgrove/usp"} /-->
<!-- wp:pattern {"slug":"shopgrove/featured-products"} /-->
<!-- wp:pattern {"slug":"shopgrove/top-categories"} /-->
<!-- wp:pattern {"slug":"shopgrove/clients"} /-->
<!-- wp:pattern {"slug":"shopgrove/testimonials"} /-->
<!-- wp:pattern {"slug":"shopgrove/recently-added"} /-->
<!-- wp:pattern {"slug":"shopgrove/about"} /-->
<!-- wp:pattern {"slug":"shopgrove/news-article"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
